<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <title set:html={title}></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Daily Software QA Tips" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL.href} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="daily-dev-tips.com" />
     <meta property="og:image" content={fullImage} />
    <meta property="og:image:alt" content="Page image for Daily Software-QA Tips" />
    {description && (
        <meta name="description" content={description} />
        <meta property="og:description" content={description} />
     )}
     
</head>
<body>
    
</body>
</html>
